@font-face{
    font-family: MontserratRegular;
    src: url(../webfonts/Montserrat-Regular.ttf);
}

@font-face{
    font-family: MontserratLight;
    src: url(../webfonts/Montserrat-Light.ttf);
}

@font-face{
    font-family: MontserratSemiBold;
    src: url(../webfonts/Montserrat-SemiBold.ttf);
}
$navbarColour : linear-gradient(124deg, rgba(56,74,186,1) 0%, rgba(100,93,196,1) 49%, rgba(161,255,250,1) 100%);
$formColour : #EEECF1;

html{
    height: 100%;
}

body{
    font-family: MontserratLight;
    font-size: 1.1em;
    background: $navbarColour no-repeat;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.dnapic{
    position: fixed;
    z-index: -1;
    width: 30%;
    min-width: 400px;
}

.container-fluid{
    margin:0;
    padding:0;
}

.navbar li a{
    color: rgb(250, 250, 251);
}

.nav-wrapper{    
    padding-bottom: 0;

}

.navbar{
    background-color: rgba(#fff, 0);
    padding-top: 20px;
    padding-left: 40px;
    img{
        width:150px;
    }

    .nav-item{
        padding-right: 35px;
    }

    .guestlogin{
        padding-left: 40px;
    }

    .mr-sm-2, .mx-sm-2{
        margin: 0 !important;
    }

    .form-control{
        font-style: italic;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
    }

    .btn{
        background-color: rgb(80, 74, 162);
        border: 0;
        border-top-left-radius: 1px;
        border-bottom-left-radius: 1px;
    }
}

.vertical-nav-wrapper{
    background-color: rgba(31, 36, 50, 0.7);
    padding-bottom: 100%;
    border-radius: 6px;;

    li{
        padding-top: 10px;
    }
}

.col-2{
    padding:0;
}

.col{
    padding: 0;
    margin: 0;
}

main{
    background-color: white;
    padding: 50px;
    padding-top: 20px;;
    margin-right: 3%;
    margin-left: 1%;
    border-radius: 6px;
    

    h1{
        font-size: 1.6em;
        font-weight: 800;
        font-variant-caps: all-petite-caps;
        font-family: MontserratSemiBold;
        color: rgb(87, 57, 138);

    }

}