@font-face {
  font-family: MontserratRegular;
  src: url(../webfonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontserratLight;
  src: url(../webfonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: MontserratSemiBold;
  src: url(../webfonts/Montserrat-SemiBold.ttf);
}

html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: MontserratLight;
  font-size: 1.1em;
  background: linear-gradient(124deg, #384aba 0%, #645dc4 49%, #a1fffa 100%) no-repeat;
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 1em;
  }
}

.btn {
  background-color: #44337b;
  border: none;
}

i {
  margin-right: 5px;
}

.dnapic {
  position: fixed;
  z-index: -1;
  width: 30%;
  min-width: 400px;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar li a {
  color: #fafafb;
}

.nav-wrapper {
  padding-bottom: 0;
}

.nav-wrapper i {
  color: white;
}

.nav-wrapper .nav-item {
  padding-right: 15px;
}

.togglebutton i {
  padding-top: 5px !important;
  font-size: 1.3em;
}

@media only screen and (min-width: 768px) {
  .togglebutton {
    display: none;
    visibility: hidden;
  }
}

.navbar-nav {
  vertical-align: middle;
}

.navbar {
  background-color: rgba(255, 255, 255, 0);
  padding-top: 10px;
  padding-left: 40px;
}

.navbar img {
  width: 150px;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 1080px) {
  .navbar {
    font-size: 0.8em;
  }
}

.navbar .hactive {
  border-bottom: 5px solid #dcd0f3;
  font-weight: 800;
}

.navbar .userHmenu, .navbar .guestHmenu {
  margin-left: 6%;
  text-align: center;
}

.navbar .guestlogin {
  padding-left: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .mr-sm-2, .navbar .mx-sm-2 {
  margin: 0 !important;
}

.navbar .form-control {
  font-style: italic;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  background-color: #EEECF1;
}

.navbar .mr-3, .navbar .mx-3 {
  margin-right: 0 !important;
}

.navbar .mr-3 .btn, .navbar .mx-3 .btn {
  background-color: #44337b;
  border: 0;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.navbar .mr-3 .icon, .navbar .mx-3 .icon {
  margin-right: 7px;
}

.vertical-nav-wrapper {
  background-color: rgba(31, 36, 50, 0.7);
  border-radius: 6px;
  font-size: 0.8em;
}

@media only screen and (max-width: 1280px) {
  .vertical-nav-wrapper li {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 1024px) {
  .vertical-nav-wrapper li {
    font-size: 2em;
  }
}

@media only screen and (max-width: 768px) {
  .vertical-nav-wrapper li {
    font-size: 1.3em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.vertical-nav-wrapper .vactive {
  border-right: 5px solid #dcd0f3;
  font-weight: 800;
  background-color: rgba(16, 19, 27, 0.7);
}

.vertical-nav-wrapper .navbar {
  padding: 0;
}

.vertical-nav-wrapper .nav-link {
  padding: 20px;
}

@media only screen and (min-width: 1024px) {
  .vertical-nav-wrapper .nav-link {
    padding-left: 40px;
  }
}

@media only screen and (max-width: 576px) {
  .vertical-nav-wrapper .nav-link {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .vertical-nav-wrapper .nav-link i {
    font-size: 2em;
    text-align: center;
    padding-left: 10px;
  }
}

.vertical-nav-wrapper .navbar-nav {
  width: 100%;
}

.col-2 {
  padding: 0;
}

.vmenutext {
  font-size: 1.2em;
}

@media only screen and (max-width: 1280px) {
  .vmenutext {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 1024px) {
  .vmenutext {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 768px) {
  .vmenutext {
    white-space: nowrap;
    font-size: 0.9em;
    display: block;
  }
}

@media only screen and (max-width: 576px) {
  .vmenutext {
    font-size: 0.5em;
    display: block;
  }
}

.col {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.6em;
  font-weight: 800;
  font-variant-caps: all-petite-caps;
  font-family: MontserratSemiBold;
  color: #46326f;
}

h2, form label {
  font-size: 1.1em;
  font-weight: 300;
  font-variant-caps: all-petite-caps;
  font-family: MontserratSemiBold;
  color: #695a85;
}

main {
  background-color: #EEECF1;
  padding: 50px;
  padding-top: 20px;
  margin-right: 3%;
  margin-left: 1%;
  border-radius: 6px;
}

@media only screen and (max-width: 576px) {
  main {
    padding: 30px;
  }
}

.card {
  font-size: 0.9em;
  border-bottom: none;
}

.card .card-body {
  padding-bottom: 20px;
}

.card .btn {
  background-color: #44337b;
}

.card img {
  max-height: 30%;
}

.arsiptitle {
  margin-top: 10px;
}

.arsip {
  background-color: #fff;
  border-radius: 6px;
  font-size: 0.8em;
}

.arsip a {
  display: block;
  padding: 10px;
  padding-left: 20px;
}

form .form-group {
  margin-bottom: 1.3em;
}

.tanggal {
  width: 18%;
}

@media only screen and (max-width: 600px) {
  .tanggal {
    width: 100%;
  }
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.kategori {
  margin-top: 20px;
}

.kategori .form-check-label {
  font-size: 0.9em;
  font-family: MontserratRegular;
}
/*# sourceMappingURL=style.css.map */